/* PatientList.css */
.patient-list-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the search input and table */
  }
  
  .search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 600px; /* Set a max-width for the search input */
    box-sizing: border-box;
  }
  
  .patient-list-table {
    width: 100%;
    max-width: 800px; /* Set a max-width for the table */
    border-collapse: collapse;
    margin-top: 10px; /* Add some space between the search input and table */
  }
  
  .patient-list-table th,
  .patient-list-table td {
    text-align: left;
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .patient-list-table thead {
    background-color: #007bff;
    color: #ffffff;
  }
  
  .patient-list-table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  .patient-list-table tr:hover {
    background-color: #e8f4ff; /* Light blue background on hover */
  }
  